In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('new_df2.csv')

In [3]:
df.shape

(12258, 43)

In [9]:
df.groupby(['진단코드']).mean()[20:30]

,%LYM,HCT,WBC,PLT,HGB,RBC,MCV,MCHC,MCH,RDW,...,%BASO,#BASO,HDW_a,CH_a,CHCM_a,LUC(%)_a,LUC(#)_a,LI_a,#RETIC,%RETIC
진단코드,,,,,,,,,,,,,,,,,,,,,
2006,27.500000,46.300000,10.580000,612.000000,15.500000,6.890000,67.200000,33.500000,22.500000,18.800000,...,0.200000,0.02,NaN,NaN,NaN,NaN,NaN,NaN,79.90,1.20
2007,27.300000,39.844444,13.596667,330.666667,13.888889,5.826667,70.444444,35.055556,24.633333,14.100000,...,0.150000,0.01,NaN,NaN,NaN,NaN,NaN,NaN,66.15,1.05
2008,13.900000,41.700000,9.500000,763.000000,14.800000,6.950000,60.000000,35.500000,21.300000,14.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,10.000000,41.700000,16.000000,202.000000,14.500000,6.280000,66.400000,34.800000,23.100000,11.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011의심,15.200000,49.900000,NaN,269.000000,16.500000,6.850000,72.900000,33.000000,24.000000,15.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,2.900000,41.300000,11.800000,264.000000,12.700000,4.770000,86.600000,30.800000,26.600000,13.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,12.100000,46.100000,NaN,486.833333,15.700000,6.630000,69.516667,34.000000,23.633333,12.816667,...,0.200000,0.03,1.82,24.5,34.6,0.2,0.02,NaN,NaN,NaN
2014,21.727000,43.390000,12.954762,449.633333,14.826667,6.722692,65.220000,34.243333,22.263333,15.070000,...,0.033333,0.01,NaN,NaN,NaN,NaN,NaN,NaN,74.80,1.70
2014.0,19.666667,45.866667,NaN,180.000000,18.000000,6.873333,66.733333,39.500000,26.200000,13.100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,31.900000,52.200000,5.200000,352.000000,19.500000,NaN,81.900000,37.400000,30.600000,13.400000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN