In [26]:
import numpy as np
import pandas as pd
import os

In [27]:
dir_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [28]:
# collecto necessary column from each excel file and concateunate all file

d02_list = []
d03_list = []
for d in dir_list :
#     f2 = pd.read_excel(os.path.join(d, d+'02.xlsx'))
#     f3 = pd.read_excel(os.path.join(d, d+'03.xlsx'))
    files = [files for files in os.listdir(d) if files.endswith('xlsx')]
    print(files)
    for file in files :
        print(file)
        temp = []
        print(os.path.join(d,file))
        f = pd.ExcelFile(os.path.join(d,file))
#         print(f.sheet_name)
        
        for sheet in range(len(f.sheet_names)) :
            df = pd.read_excel(d + '/' + file, sheet_name=sheet)
#             print(df.columns)

            if '보호자명' in df.columns :
                print(df.shape)
                df['병원'] = file
#                 df['병원'] = file.split(.)[0]
#                 print(df.columns)
                if 'Unnamed: 11' in df.columns :
                    df = df[['환자ID', '보호자명', '환자명','품종코드','생일','성별코드','검사일','병원','\'19공통검사항목','Unnamed: 11', 
                             '검사항목','검사결과']]
                    df.rename(columns={'Unnamed: 11':'표준항목'}, inplace=True)
                elif 'Unnamed: 12' in df.columns :
                    df = df[['환자ID', '보호자명', '환자명','품종코드','생일','성별코드','검사일','병원','\'19공통검사항목','Unnamed: 12',
                             '검사항목','검사결과']]
                    df.rename(columns={'Unnamed: 12':'표준항목'}, inplace=True)
                else :
                    print('error happened')
                df.rename(columns={'\'19공통검사항목':'공통검사항목'}, inplace=True)
                df['검사결과'] = df['검사결과'].apply(lambda x : np.nan if str(x).strip() == '' else x)
                df.dropna(subset=['검사결과'], inplace=True)
                print(df.shape)                
                temp.append(df)
                
        df = pd.concat(temp)
#         print(df.head(2))
        if file.endswith('02.xlsx') :
            d02_list.append(df)
        elif file.endswith('03.xlsx') :
            d03_list.append(df)
        else :
            print('error')
df2 = pd.concat(d02_list)
df3 = pd.concat(d03_list)
print(df2.shape)
print(df3.shape)
            
#     for

['A_03.xlsx', 'A_02.xlsx']
A_03.xlsx
A/A_03.xlsx
(39226, 21)
(37920, 12)
(50724, 22)
(47945, 12)
A_02.xlsx
A/A_02.xlsx
(43915, 16)
(43021, 12)
['B_02.xlsx', 'B_03.xlsx']
B_02.xlsx
B/B_02.xlsx
(40918, 15)
(36352, 12)
(44841, 15)
(42087, 12)
(47011, 15)
(46860, 12)
B_03.xlsx
B/B_03.xlsx
(217164, 22)
(186091, 12)
['C_02.xlsx', 'C_03.xlsx']
C_02.xlsx
C/C_02.xlsx
(56434, 15)
(49004, 12)
C_03.xlsx
C/C_03.xlsx
(113318, 19)
(71004, 12)
(30912, 21)
(16984, 12)
['D_02.xlsx', 'D_03.xlsx']
D_02.xlsx
D/D_02.xlsx
(43581, 15)
(35290, 12)
(38177, 15)
(30956, 12)
(47465, 16)
(43538, 12)
D_03.xlsx
D/D_03.xlsx
(163144, 22)
(101904, 12)
(121579, 21)
(58385, 12)
['E_02.xlsx', 'E_03.xlsx']
E_02.xlsx
E/E_02.xlsx
(90262, 15)
(83761, 12)
E_03.xlsx
E/E_03.xlsx
(207279, 15)
(69242, 12)
['F_03.xlsx', 'F_02.xlsx']
F_03.xlsx
F/F_03.xlsx
(150999, 15)
(64811, 12)
F_02.xlsx
F/F_02.xlsx
(120246, 15)
(99673, 12)
['G_02.xlsx', 'G_03.xlsx']
G_02.xlsx
G/G_02.xlsx
(45373, 15)
(33939, 12)
G_03.xlsx
G/G_03.xlsx
(64025, 15)
(39682, 12)
(544481, 12)
(693968, 12)

In [29]:
dict02 = df2['표준항목'].value_counts().to_dict()
dict03 = df3['표준항목'].value_counts().to_dict()

test02_list = [ name for name in dict02 if dict02[name] > 1000] 
test03_list = [ name for name in dict03 if dict03[name] > 1000] 

print(test02_list)
print(len(test02_list))
print(test03_list)
print(len(test03_list))

['%LYM', 'HCT', 'WBC', 'PLT', 'HGB', 'RBC', 'MCV', 'MCHC', 'MCH', 'RDW', 'MPV', '#LYM', '#GRA', '#EOS', '%GRA', '%MON', '#MON', '%EOS', 'PDW', 'PCT', 'RDW2', '#OTHR(W-MCC)', '%OTHR(W-MCR)', 'RDW-SD', 'P-LCR', '%NEU', '#NEU', '%BASO', '#BASO', 'CHCM_a', 'CH_a', 'HDW_a', 'LUC(%)_a', 'LUC(#)_a', 'LI_a', '#RETIC', '%RETIC']
37
['K', 'Na', 'Cl', 'BUN', 'CREA', 'TP', 'ALP', 'ALT(GPT)', 'GLU', 'ALB', 'GLOB', 'PHOS(IP,Pi)', 'TBIL', 'AG ratio', 'AMY', 'PH', 'PCO2', 'cHCO3(P)', 'GGT', 'AST(GOT)', 'ANION GAP', 'CA++(Ven)', 'CHOL(TCHO)', 'BC ratio', 'LIP', 'CA', 'PO2', 'SO2', 'TRIG(TG)', 'stO2', 'NH3', 'tHb', 'BE(ecf)', 'CRP', 'HEMATOCRIT', 'ANION GAP(K+)', 'cBASE', 'CK(CPK)', 'tCO2', 'Lactate', 'CHOL', 'pvO2', 'Hb', 'Na/K r', 'LDH', 'cPL', 'd-dimer', 'SDMA']
48

In [30]:
test02_li = [ name for name in dict02 if dict02[name] > 0] 
test03_li = [ name for name in dict03 if dict03[name] > 0] 
print(test02_list)
print(len(test02_list))
print(test03_list)
print(len(test03_list))

['%LYM', 'HCT', 'WBC', 'PLT', 'HGB', 'RBC', 'MCV', 'MCHC', 'MCH', 'RDW', 'MPV', '#LYM', '#GRA', '#EOS', '%GRA', '%MON', '#MON', '%EOS', 'PDW', 'PCT', 'RDW2', '#OTHR(W-MCC)', '%OTHR(W-MCR)', 'RDW-SD', 'P-LCR', '%NEU', '#NEU', '%BASO', '#BASO', 'CHCM_a', 'CH_a', 'HDW_a', 'LUC(%)_a', 'LUC(#)_a', 'LI_a', '#RETIC', '%RETIC']
37
['K', 'Na', 'Cl', 'BUN', 'CREA', 'TP', 'ALP', 'ALT(GPT)', 'GLU', 'ALB', 'GLOB', 'PHOS(IP,Pi)', 'TBIL', 'AG ratio', 'AMY', 'PH', 'PCO2', 'cHCO3(P)', 'GGT', 'AST(GOT)', 'ANION GAP', 'CA++(Ven)', 'CHOL(TCHO)', 'BC ratio', 'LIP', 'CA', 'PO2', 'SO2', 'TRIG(TG)', 'stO2', 'NH3', 'tHb', 'BE(ecf)', 'CRP', 'HEMATOCRIT', 'ANION GAP(K+)', 'cBASE', 'CK(CPK)', 'tCO2', 'Lactate', 'CHOL', 'pvO2', 'Hb', 'Na/K r', 'LDH', 'cPL', 'd-dimer', 'SDMA']
48

In [31]:
df2.to_csv('result/df02.csv', index=None)
df3.to_csv('result/df03.csv', index=None)

In [32]:
df2 = pd.read_csv('result/df02.csv')
df3 = pd.read_csv('result/df03.csv')

/home/beomgon2/bert/clustering/clustering-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
# reshaping

df2 = df2[['보호자명','환자명', '품종코드', '생일', '성별코드','검사일', '병원', '공통검사항목', '표준항목', '검사결과' ]]
df3 = df3[['보호자명','환자명', '품종코드', '생일', '성별코드','검사일', '병원', '공통검사항목', '표준항목', '검사결과' ]]

In [34]:
import re
def extract_num(x) :
#     x = ''.join(re.findall('([+-]?[0-9]*[.]?[0-9]*)', str(x)))
    x = re.sub('[(].+[)]', '', x)
    x= ''.join(re.findall('[-+]?\d*\.\d+|\d+', str(x)))
    return x

def my_strip_split (df) :
    for column in ['보호자명', '환자명', '생일', '검사일', '병원', '표준항목'] :
        df[column] = df[column].apply(lambda x : str(x).strip())
    for column in ['생일', '검사일'] :
        df[column] = df[column].apply(lambda x : x.split(' ')[0])
    for column in ['병원'] :
        df[column] = df[column].apply(lambda x : x.split('_')[0])
    for column in ['검사결과'] :
#         df[column] = df[column].apply(lambda x : re.findall(r"[-+]?\d*\.\d+|\d+", x))
#         df[column] = df[column].apply(lambda x : re.sub('[\[\]]', '', (x)))
#         df[column] = df[column].astype('float64')
#         df[column] = df[column].apply(lambda x : re.sub('[^0-9.+-]', '', x))
#         df[column] = df[column].apply(lambda x : remove_bar(x))
        # extract digit only
        df[column] = df[column].apply(lambda x : extract_num(x))
        
    return df

# data preporcessing
df2 = my_strip_split(df2)
df3 = my_strip_split(df3)    

df2.to_csv('result/df02_1.csv', index=None)
df3.to_csv('result/df03_1.csv', index=None)

In [35]:
df2 = pd.read_csv('result/df02_1.csv')
df3 = pd.read_csv('result/df03_1.csv')

/home/beomgon2/bert/clustering/clustering-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/beomgon2/bert/clustering/clustering-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
label_dir = '../excel/'
dir_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
dfall = []
for d in dir_list :
    files = [file for file in os.listdir(label_dir + d) if file.endswith('.xlsx')]
#     print(files)
    for file in files :
        print(label_dir + d + '/' + file)
        df = pd.read_excel(label_dir + d + '/' + file)
#         print(df.columns)
        df['병원'] = d
        if '주진단명\n코드 1' in df.columns :
            df = df[['보호자명', '환자명', '품종코드','생일', '성별코드','검사일','병원','주진단명\n코드 1']]
            df.rename(columns={'주진단명\n코드 1':'진단코드'}, inplace=True)
        elif '주진단명코드 1' in df.columns :
            df = df[['보호자명', '환자명', '품종코드','생일', '성별코드','검사일','병원','주진단명코드 1']]
            df.rename(columns={'주진단명코드 1':'진단코드'}, inplace=True)
        elif '주진단명코드\n(단일항목기재)' in df.columns :
            df = df[['보호자명', '환자명', '품종코드','생일', '성별코드','검사일','병원','주진단명코드\n(단일항목기재)']]
            df.rename(columns={'주진단명코드\n(단일항목기재)':'진단코드'}, inplace=True)
        dfall.append(df)
df = pd.concat(dfall)

../excel/A/A2.xlsx
../excel/A/A1.xlsx
../excel/B/B2.xlsx
../excel/B/B1.xlsx
../excel/C/C2.xlsx
../excel/C/C1.xlsx
../excel/D/D1.xlsx
../excel/D/D2.xlsx
../excel/E/E1.xlsx
../excel/F/F1.xlsx
../excel/G/G1.xlsx

In [37]:
def my_split_strip2(df) :
    for column in ['보호자명', '환자명', '생일', '검사일', '병원'] :
        df[column] = df[column].apply(lambda x : str(x).strip())
    for column in ['생일', '검사일'] :
        df[column] = df[column].apply(lambda x : x.split(' ')[0])
    return df
        
df =  my_split_strip2(df)   

df.head()
df.to_csv('result/df_label.csv', index=None)
df.head()

  보호자명   환자명   품종코드          생일 성별코드         검사일 병원  진단코드
0  최수경    아지  131.0  1997-01-01    F  2013-04-05  A  2021
1  장유리   빵빵r  130.0  2000-07-01   FS  2014-05-05  A   NaN
2  이덕남  이두나a  119.0  1997-02-03   FS  2013-04-05  A  2285
3  곽효선    세리  125.0  1999-05-23    F  2013-04-20  A  2002
4  노태숙  쥬쥬ar  498.0  2000-05-01   FS  2013-03-05  A   NaN

In [38]:
check_list = ['보호자명', '환자명', '생일', '검사일', '병원']
def make_newdf(df, labeled_df, column_list) :
    count = -1
    print(df.shape)
    print(labeled_df.shape)
    new_list = check_list + column_list
    df_new = pd.DataFrame(columns = new_list)
    df_new['진단코드'] = ''
    print(df_new.columns)
    par, pat, bir, tes, hos = '','','','',''
   
    for i in range(len(df)) :
        
        var_list = []
        for j in range(len(check_list)) :
            var_list.append(df.loc[i,check_list[j]])
            
        if ((par != var_list[0]) & (pat != var_list[1]) & (bir != var_list[2]) 
           & (tes != var_list[3])) or (hos != var_list[4]):
            count += 1
            for j in range(len(check_list)) :
                df_new.loc[count, check_list[j]] = var_list[j]
#             df_new.loc[count, '보호자명'] = var_list[0]
#             df_new.loc[count, '환자명'] = var_list[1]
#             df_new.loc[count, '생일'] = var_list[2]
#             df_new.loc[count, '검사일'] = var_list[3]   
#             df_new.loc[count, '병원'] = var_list[4]
            
            temp = labeled_df.loc[(labeled_df['보호자명']==var_list[0]) & (labeled_df['환자명']==var_list[1]) & \
                         (labeled_df['생일']==var_list[2]) & (labeled_df['검사일']==var_list[3]) & \
                         (labeled_df['병원']==var_list[4])]
            if len(temp) > 0 :
                df_new.loc[count, '진단코드'] = temp.loc[temp.index.values[0], '진단코드']
            
        else :
            item = str(df.loc[i, '표준항목']).strip()
#             print(item)
            if item in df_new.columns :
                df_new.loc[count, item] = df.loc[i, '검사결과']   
            
        par, pat, bir, tes, hos = var_list[0], var_list[1], var_list[2], var_list[3], var_list[4]
        
    return df_new

In [39]:
new_df02 = make_newdf(df2, df, test02_list)
new_df03 = make_newdf(df3, df, test03_list)
new_df02.to_csv('result/new_df2.csv', index=None)
new_df03.to_csv('result/new_df3.csv', index=None)

(544481, 10)
(16459, 8)
Index(['보호자명', '환자명', '생일', '검사일', '병원', '%LYM', 'HCT', 'WBC', 'PLT', 'HGB',
       'RBC', 'MCV', 'MCHC', 'MCH', 'RDW', 'MPV', '#LYM', '#GRA', '#EOS',
       '%GRA', '%MON', '#MON', '%EOS', 'PDW', 'PCT', 'RDW2', '#OTHR(W-MCC)',
       '%OTHR(W-MCR)', 'RDW-SD', 'P-LCR', '%NEU', '#NEU', '%BASO', '#BASO',
       'CHCM_a', 'CH_a', 'HDW_a', 'LUC(%)_a', 'LUC(#)_a', 'LI_a', '#RETIC',
       '%RETIC', '진단코드'],
      dtype='object')
(693968, 10)
(16459, 8)
Index(['보호자명', '환자명', '생일', '검사일', '병원', 'K', 'Na', 'Cl', 'BUN', 'CREA', 'TP',
       'ALP', 'ALT(GPT)', 'GLU', 'ALB', 'GLOB', 'PHOS(IP,Pi)', 'TBIL',
       'AG ratio', 'AMY', 'PH', 'PCO2', 'cHCO3(P)', 'GGT', 'AST(GOT)',
       'ANION GAP', 'CA++(Ven)', 'CHOL(TCHO)', 'BC ratio', 'LIP', 'CA', 'PO2',
       'SO2', 'TRIG(TG)', 'stO2', 'NH3', 'tHb', 'BE(ecf)', 'CRP', 'HEMATOCRIT',
       'ANION GAP(K+)', 'cBASE', 'CK(CPK)', 'tCO2', 'Lactate', 'CHOL', 'pvO2',
       'Hb', 'Na/K r', 'LDH', 'cPL', 'd-dimer', 'SDMA', '진단코드'],
      dtype='object')

In [40]:
new_df02 = pd.read_csv('result/new_df2.csv')
new_df03 = pd.read_csv('result/new_df3.csv')
print(new_df02.shape)
print(new_df03.shape)

(12259, 43)
(16751, 54)

/home/beomgon2/bert/clustering/clustering-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9,10,30,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
# new_df02.dropna(subset=['진단코드'], inplace=True)
# print(new_df02.shape)

In [42]:
def regex_label( df) :
    label = '진단코드'

    df[label] = df[label].apply(lambda x : re.sub('중성화수술','Neutral', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('중성화 수술','Neutral', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('중성화','Neutral', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('여아중성화','Neutral', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('남아중성화','Neutral', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('여아Neutral','Neutral', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('남아Neutral','Neutral', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('여중','Neutral', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('남중','Neutral', str(x)))


    df[label] = df[label].apply(lambda x : re.sub('[건강][가-힣 ()a-zA-Z,0-9\/]+','test', str(x)))
    # df.label = df.label.apply(lambda x : re.sub('건강검진(Castration)','test', str(x))) '건강검진(Spay)'

    df[label] = df[label].apply(lambda x : re.sub('X','normal', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('x','normal', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('이상없음','normal', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('XX','normal', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('-','normal', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('normalnormal','normal', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('정상','normal', str(x)))

    # df[label] = df[label].apply(lambda x : re.sub('2170.0','2170', str(x)))
    # df[label] = df[label].apply(lambda x : re.sub('2071.0','2071', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('[.]0','', str(x)))
    df[label] = df[label].apply(lambda x : re.sub('[ ]+','', str(x)))

    return df

In [43]:
new_df02 = regex_label(new_df02)
new_df03 = regex_label(new_df03)

# label_df = pd.read_csv('result/df_label.csv')
# label_df = regex_label(label_df)

In [44]:
# num_class = 30
# labeled_dict = new_df02['진단코드'].value_counts()[0:num_class].to_dict()
# # print(labeled_dict)
# labeled_list = []
# for name in labeled_dict:
#     labeled_list.append(name)
# #     print(name)
# print(labeled_list)

In [45]:
# new_df02['진단코드'] = new_df02['진단코드'].apply(lambda x : x if x in labeled_list else np.nan )

In [46]:
new_df02['진단코드'].value_counts()
# new_df02.isnull().sum()

nan          4372
normal        902
Neutral       404
2043          354
2046          326
             ...
폐성고혈압           1
예방              1
치과치료            1
2255(무증상)       1
20922093        1
Name: 진단코드, Length: 559, dtype: int64

In [47]:
# print(new_df02.shape)
# new_df02.dropna(subset=['진단코드'], inplace=True)
# new_df03.dropna(subset=['진단코드'], inplace=True)
# print(new_df02.shape)
# # print(new_df02.isnull().sum())
# print(new_df02.head())

In [48]:
new_df02.to_csv('result/new1_df02.csv', index=None)
new_df03.to_csv('result/new1_df03.csv', index=None)

In [12]:
import pandas as pd

new_df02 = pd.read_csv('result/new1_df02.csv')
new_df03 = pd.read_csv('result/new1_df03.csv')

/home/beomgon2/bert/albert/albert-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9,10,30,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
(df3.columns)

Index(['보호자명', '환자명', '생일', '검사일', '병원', 'K', 'Na', 'Cl', 'BUN', 'CREA', 'TP',
       'ALP', 'ALT(GPT)', 'GLU', 'ALB', 'GLOB', 'PHOS(IP,Pi)', 'TBIL',
       'AG ratio', 'AMY', 'PH', 'PCO2', 'cHCO3(P)', 'GGT', 'AST(GOT)',
       'ANION GAP', 'CA++(Ven)', 'CHOL(TCHO)', 'BC ratio', 'LIP', 'CA', 'PO2',
       'SO2', 'TRIG(TG)', 'stO2', 'NH3', 'tHb', 'BE(ecf)', 'CRP', 'HEMATOCRIT',
       'ANION GAP(K+)', 'cBASE', 'CK(CPK)', 'tCO2', 'Lactate', 'CHOL', 'pvO2',
       'Hb', 'Na/K r', 'LDH', 'cPL', 'd-dimer', 'SDMA', '진단코드'],
      dtype='object')

In [49]:

# for i in df02_columns:
#     print(i)
#     for rows, index in zip(new_df02[i] , new_df02.index) :
#         if rows == '11.40.8-5.1' :
#             print(rows)
#             print(index)
# new_df02.loc[10741,'병원']

In [50]:
# new_df02.loc[5, 1]

In [51]:
df02_columns = ['%LYM', 'HCT', 'WBC', 'PLT', 'HGB',
       'RBC', 'MCV', 'MCHC', 'MCH', 'RDW', 'MPV', '#LYM', '#GRA', '#EOS',
       '%GRA', '%MON', '#MON', '%EOS', 'PDW', 'PCT', 'RDW2', '%OTHR(W-MCR)',
       '#OTHR(W-MCC)', 'RDW-SD', 'P-LCR', '%NEU', '#NEU', '%BASO', '#BASO',
       'HDW_a', 'CH_a', 'CHCM_a', 'LUC(%)_a', 'LUC(#)_a', 'LI_a', '#RETIC',
       '%RETIC']
num02 = new_df02[df02_columns].to_numpy()

In [14]:
df03_columns = ['K', 'Na', 'Cl', 'BUN', 'CREA', 'TP',
       'ALP', 'ALT(GPT)', 'GLU', 'ALB', 'GLOB', 'PHOS(IP,Pi)', 'TBIL',
       'AG ratio', 'AMY', 'PH', 'PCO2', 'cHCO3(P)', 'GGT', 'AST(GOT)',
       'ANION GAP', 'CA++(Ven)', 'CHOL(TCHO)', 'BC ratio', 'LIP', 'CA', 'PO2',
       'SO2', 'TRIG(TG)', 'stO2', 'NH3', 'tHb', 'BE(ecf)', 'CRP', 'HEMATOCRIT',
       'ANION GAP(K+)', 'cBASE', 'CK(CPK)', 'tCO2', 'Lactate', 'CHOL', 'pvO2',
       'Hb', 'Na/K r', 'LDH', 'cPL', 'd-dimer', 'SDMA']
num03 = new_df03[df03_columns].to_numpy()
num03

array([[5.39, nan, '110', ..., nan, nan, nan],
       [3.29, 145.0, '102', ..., nan, nan, nan],
       [5.22, 150.0, '112', ..., nan, nan, nan],
       ...,
       [4.65, 152.0, 123.4, ..., nan, nan, nan],
       [4.27, 152.5, 108.5, ..., nan, nan, nan],
       [5.94, 141.5, 112.7, ..., nan, nan, nan]], dtype=object)

In [52]:
from numpy import nan, nanmean
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(num02)
# scaler.mean_
scaled_ar = scaler.transform(num02)

In [15]:
from numpy import nan, nanmean
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(num03)
# scaler.mean_
scaled_ar = scaler.transform(num03)

ValueError: could not convert string to float: '2018.3.17'

In [53]:
scaled_ar

array([[-0.1114615 , -0.29909312,         nan, ...,         nan,
                nan,         nan],
       [ 1.1579478 ,  0.2312419 ,  0.6603009 , ...,         nan,
                nan,         nan],
       [-0.41401501, -0.58927644,         nan, ...,         nan,
                nan,         nan],
       ...,
       [-0.21012025, -2.18028153,         nan, ...,         nan,
                nan,         nan],
       [-0.36797426,  0.2312419 , -0.66610642, ...,         nan,
                nan,         nan],
       [ 0.19109202, -0.88946608,  0.83598398, ...,         nan,
                nan,         nan]])

In [54]:
# new_df02.index[new_df02.isin(['11.40.8-5.1'])]

In [55]:
scaled_df = pd.DataFrame(scaled_ar, columns=df02_columns)
# print(scaled_df.head())
scaled_df.fillna(0, inplace=True)
print(scaled_df.head())
print(scaled_df.shape)

       %LYM       HCT       WBC       PLT       HGB       RBC       MCV  \
0 -0.111461 -0.299093  0.000000  0.572648  0.706203 -0.407036  0.410056
1  1.157948  0.231242  0.660301 -0.312266  0.046969 -0.250027  0.698427
2 -0.414015 -0.589276  0.000000  0.670971 -0.026280 -0.560477  0.426076
3 -0.348243  0.351318  0.000000  1.650276  0.321650 -0.200070  0.714447
4 -1.203285  0.101160  1.108293  3.176261 -0.520706 -0.225048  0.466128

       MCHC       MCH       RDW  ...  %BASO  #BASO  HDW_a  CH_a  CHCM_a  \
0  0.935420  2.143857 -0.354528  ...    0.0    0.0    0.0   0.0     0.0
1 -0.097744  0.485367 -0.783951  ...    0.0    0.0    0.0   0.0     0.0
2  0.383348  1.148763 -0.220334  ...    0.0    0.0    0.0   0.0     0.0
3  0.083652  0.858527 -0.676595  ...    0.0    0.0    0.0   0.0     0.0
4 -0.570948 -0.592651 -0.596079  ...    0.0    0.0    0.0   0.0     0.0

   LUC(%)_a  LUC(#)_a  LI_a  #RETIC  %RETIC
0       0.0       0.0   0.0     0.0     0.0
1       0.0       0.0   0.0     0.0     0.0
2       0.0       0.0   0.0     0.0     0.0
3       0.0       0.0   0.0     0.0     0.0
4       0.0       0.0   0.0     0.0     0.0

[5 rows x 37 columns]
(12259, 37)

In [56]:
scaled_df['label'] = new_df02['진단코드']
scaled_df.head(6)

,%LYM,HCT,WBC,PLT,HGB,RBC,MCV,MCHC,MCH,RDW,...,#BASO,HDW_a,CH_a,CHCM_a,LUC(%)_a,LUC(#)_a,LI_a,#RETIC,%RETIC,label
0,-0.111461,-0.299093,0.000000,0.572648,0.706203,-0.407036,0.410056,0.935420,2.143857,-0.354528,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan
1,1.157948,0.231242,0.660301,-0.312266,0.046969,-0.250027,0.698427,-0.097744,0.485367,-0.783951,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2084
2,-0.414015,-0.589276,0.000000,0.670971,-0.026280,-0.560477,0.426076,0.383348,1.148763,-0.220334,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002
3,-0.348243,0.351318,0.000000,1.650276,0.321650,-0.200070,0.714447,0.083652,0.858527,-0.676595,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2186
4,-1.203285,0.101160,1.108293,3.176261,-0.520706,-0.225048,0.466128,-0.570948,-0.592651,-0.596079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan
5,0.684386,-0.849441,0.493402,-0.504981,-0.593954,-0.767444,0.666386,-0.081970,0.506098,-0.300851,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2126

In [57]:
# def make_nan(x) :
    
scaled_df.label = scaled_df.label.apply(lambda x : np.nan if str(x) == 'nan' else x)
scaled_df.dropna(subset=['label'], inplace=True)
print(scaled_df.shape)

(7887, 38)

In [58]:
label_list = []
Num_class = 30
label_dict = scaled_df.label.value_counts()[0:Num_class].to_dict()
s = 0
for i in label_dict :
#     print(i)
    label_list.append(i)
    s += label_dict[i]
print(label_list)    
print(s)

['normal', 'Neutral', '2043', '2046', '2082', '2087', '2001', '2101', '2170', '2092', '2116', 'test', '2071', '2275', '2133', '2185', '2048', '2031', '2095', '2091', '2274', '2181', '2002', '2126', '2020', '2236', '2255', '2244', '2022', '2273']
4755

In [59]:
scaled_df.label = scaled_df.label.apply(lambda x : x if str(x) in label_list else np.nan)
scaled_df.dropna(subset=['label'], inplace=True)
print(scaled_df.shape)

(4755, 38)

In [60]:
scaled_df.to_csv('result/scaled_df02.csv', index=None)
# new_df03.to_csv('result/new2_df03.csv', index=None)

In [61]:
scaled_df2 = pd.read_csv('result/scaled_df02.csv')

In [62]:
scaled_df2.head()

,%LYM,HCT,WBC,PLT,HGB,RBC,MCV,MCHC,MCH,RDW,...,#BASO,HDW_a,CH_a,CHCM_a,LUC(%)_a,LUC(#)_a,LI_a,#RETIC,%RETIC,label
0,-0.414015,-0.589276,0.000000,0.670971,-0.026280,-0.560477,0.426076,0.383348,1.148763,-0.220334,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002
1,0.684386,-0.849441,0.493402,-0.504981,-0.593954,-0.767444,0.666386,-0.081970,0.506098,-0.300851,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2126
2,-1.288789,-0.639308,0.713006,-0.882544,-0.154464,-0.746033,0.938736,0.280820,1.459730,-0.300851,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2001
3,-0.538983,-0.018916,0.000000,-0.815684,0.285026,-0.132270,0.097654,0.288707,0.651216,-0.408206,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020
4,0.289751,0.101160,-0.604617,0.143956,0.065281,-0.385626,0.898685,-0.003103,0.837796,-0.649756,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2071

In [63]:
# from keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
scaled_df2['label_id'] = le.fit_transform(scaled_df2.label)

# from keras.utils import to_categorical
# y_train = to_categorical(y_train)
# y_test = to_categorical(y_test)
# scaled_df2.label.value_counts()

In [64]:
# scaled_df2.label_id.value_counts()
scaled_df2.head()

,%LYM,HCT,WBC,PLT,HGB,RBC,MCV,MCHC,MCH,RDW,...,HDW_a,CH_a,CHCM_a,LUC(%)_a,LUC(#)_a,LI_a,#RETIC,%RETIC,label,label_id
0,-0.414015,-0.589276,0.000000,0.670971,-0.026280,-0.560477,0.426076,0.383348,1.148763,-0.220334,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002,1
1,0.684386,-0.849441,0.493402,-0.504981,-0.593954,-0.767444,0.666386,-0.081970,0.506098,-0.300851,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2126,16
2,-1.288789,-0.639308,0.713006,-0.882544,-0.154464,-0.746033,0.938736,0.280820,1.459730,-0.300851,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2001,0
3,-0.538983,-0.018916,0.000000,-0.815684,0.285026,-0.132270,0.097654,0.288707,0.651216,-0.408206,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020,2
4,0.289751,0.101160,-0.604617,0.143956,0.065281,-0.385626,0.898685,-0.003103,0.837796,-0.649756,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2071,8

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(scaled_df2, test_size = 0.1)
# val, test = train_test_split(test, test_size = 0.5)
print(train.shape)
# print(val.shape)
print(test.shape)

train.to_csv('result/train.csv', index=None)
# val.to_csv('result/val.csv', index=None)
test.to_csv('result/test.csv', index=None)

In [1]:
import pandas as pd
train = pd.read_csv('result/train.csv')
# val = pd.read_csv('result/val.csv')
test = pd.read_csv('result/test.csv')

In [2]:
print(train.head())

       %LYM       HCT       WBC       PLT       HGB       RBC       MCV  \
0 -0.091730  0.951697  0.000000  0.667038  0.724516  0.388715  0.105664
1 -1.466375 -0.279080  0.000000  1.374970  0.028657 -0.242890  0.025561
2 -0.111461  1.842260 -0.450895 -0.552176  1.035821  0.770532  0.265870
3 -0.269316  1.171836 -0.551912 -0.799952  1.621807  0.063991  1.026849
4 -1.426912 -1.369770  0.000000  0.446793 -0.813699 -0.560477 -0.727408

       MCHC       MCH       RDW  ...  HDW_a  CH_a  CHCM_a  LUC(%)_a  LUC(#)_a  \
0  0.091538  0.319518  0.182250  ...    0.0   0.0     0.0       0.0       0.0
1  0.209840  0.443905 -0.461884  ...    0.0   0.0     0.0       0.0       0.0
2 -0.097744  0.132938  1.202129  ...    0.0   0.0     0.0       0.0       0.0
3  0.675158  2.351168 -0.810790  ...    0.0   0.0     0.0       0.0       0.0
4  0.059991 -0.509726 -0.032461  ...    0.0   0.0     0.0       0.0       0.0

   LI_a    #RETIC    %RETIC  label  label_id
0   0.0  0.000000  0.000000   2170        18
1   0.0  0.000000  0.000000   2244        22
2   0.0  0.416456 -0.055854   2092        12
3   0.0  0.000000  0.000000   2046         6
4   0.0  0.000000  0.000000   2001         0

[5 rows x 39 columns]

In [3]:
train.shape

(4279, 39)

In [4]:
df02_columns = ['%LYM', 'HCT', 'WBC', 'PLT', 'HGB',
       'RBC', 'MCV', 'MCHC', 'MCH', 'RDW', 'MPV', '#LYM', '#GRA', '#EOS',
       '%GRA', '%MON', '#MON', '%EOS', 'PDW', 'PCT', 'RDW2', '%OTHR(W-MCR)',
       '#OTHR(W-MCC)', 'RDW-SD', 'P-LCR', '%NEU', '#NEU', '%BASO', '#BASO',
       'HDW_a', 'CH_a', 'CHCM_a', 'LUC(%)_a', 'LUC(#)_a', 'LI_a', '#RETIC',
       '%RETIC']

X_train = train.loc[:,df02_columns]
y_train = train.loc[:, 'label_id']
# train.loc[:, ['%LYM','HCT']]

# X_val = val.loc[:,df02_columns]
# Y_val = val.loc[:, 'label_id']

X_test = test.loc[:,df02_columns]
y_test = test.loc[:, 'label_id']

In [5]:
X_train.shape[1]

37

In [8]:
from numpy import array
from keras.preprocessing.text import one_hot
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers.core import Activation, Dropout, Dense
from keras.layers import Flatten, LSTM
from keras.layers import GlobalMaxPooling1D
from keras.models import Model
from keras.layers.embeddings import Embedding
from sklearn.model_selection import train_test_split
from keras.preprocessing.text import Tokenizer
from keras.layers import Input
from keras.layers.merge import Concatenate

import pandas as pd
import numpy as np
import re

In [12]:

# # inputs = keras.Input(shape=(x_train.shape[1],))
# # input_dense = layers.Dense(x_train.shape[1]*4, activation="relu")
# # shared_dense = layers.Dense(x_train.shape[1]*4, activation="relu")

# # x = input_dense(inputs)
# # x = shared_dense(x)
# # x = shared_dense(x)
# # x = shared_dense(x)
# # x = shared_dense(x)
# # outputs = layers.Dense(1)(x)

# # model = keras.Model(inputs=inputs, outputs=outputs, name="mnist_model")
# # model.summary()

# import keras
# from tensorflow import keras
# from tensorflow.keras import layers

# # tf.reset_default_graph()

# inputs = keras.Input(shape=(X_train.shape[1],))
# input_dense = layers.Dense(X_train.shape[1] * 4, activation='relu')
# # input_dense = Dropout(0.5)(dense_layer_1)
# shared_dense = layers.Dense(X_train.shape[1]*4, activation="relu")

# x = input_dense(inputs)
# x = shared_dense(x)
# # x = Dropout(0.5)(x)
# # x = shared_dense(x)
# # # x = Dropout(0.5)(x)
# # x = shared_dense(x)
# # # x = Dropout(0.5)(x)
# # x = shared_dense(x)
# # drop_layer2 = Dropout(0.5)(x)
# outputs = layers.Dense(X_train.shape[1])(x)

# model = keras.Model(inputs=inputs, outputs=outputs)
# # model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['acc'])
# model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['acc'])
# model.summary()

# history = model.fit(X_train, y_train, batch_size=32, epochs=40, validation_split=0.2)

# test_scores = model.evaluate(X_test, y_test, verbose=2)
# print("Test loss:", test_scores[0])
# print("Test accuracy:", test_scores[1])

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_7 (InputLayer)         [(None, 37)]              0
_________________________________________________________________
dense_14 (Dense)             (None, 148)               5624
_________________________________________________________________
dense_15 (Dense)             (None, 148)               22052
_________________________________________________________________
dense_16 (Dense)             (None, 37)                5513
=================================================================
Total params: 33,189
Trainable params: 33,189
Non-trainable params: 0
_________________________________________________________________
Train on 3423 samples, validate on 856 samples
Epoch 1/40
3423/3423 [==============================] - 0s 139us/sample - loss: 8.0115 - acc: 0.1478 - val_loss: 3.6979 - val_acc: 0.0199
Epoch 2/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6376 - acc: 0.0280 - val_loss: 3.6109 - val_acc: 0.0339
Epoch 3/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 4/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 5/40
3423/3423 [==============================] - 0s 114us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 6/40
3423/3423 [==============================] - 0s 114us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 7/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 8/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 9/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 10/40
3423/3423 [==============================] - 0s 117us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 11/40
3423/3423 [==============================] - 0s 117us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 12/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 13/40
3423/3423 [==============================] - 0s 114us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 14/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 15/40
3423/3423 [==============================] - 0s 114us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 16/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 17/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 18/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 19/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 20/40
3423/3423 [==============================] - 0s 112us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 21/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 22/40
3423/3423 [==============================] - 0s 114us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 23/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 24/40
3423/3423 [==============================] - 0s 113us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 25/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 26/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 27/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 28/40
3423/3423 [==============================] - 0s 113us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 29/40
3423/3423 [==============================] - 0s 114us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 30/40
3423/3423 [==============================] - 0s 113us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 31/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 32/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 33/40
3423/3423 [==============================] - 0s 113us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 34/40
3423/3423 [==============================] - 0s 114us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 35/40
3423/3423 [==============================] - 0s 115us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 36/40
3423/3423 [==============================] - 0s 112us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 37/40
3423/3423 [==============================] - 0s 116us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 38/40
3423/3423 [==============================] - 0s 110us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 39/40
3423/3423 [==============================] - 0s 117us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
Epoch 40/40
3423/3423 [==============================] - 0s 117us/sample - loss: 3.6109 - acc: 0.0359 - val_loss: 3.6109 - val_acc: 0.0327
476/476 - 0s - loss: 3.6109 - acc: 0.0315
Test loss: 3.6109180450439453
Test accuracy: 0.031512607

In [ ]:
input1 = Input(shape=(X_train.shape[1],))
dense_layer_1 = Dense(X_train.shape[1] * 8, activation='relu')(input1)
drop_layer1 = Dropout(0.5)(dense_layer_1)
dense_layer_2 = Dense(Num_class * 4, activation='relu')(drop_layer1)
drop_layer2 = Dropout(0.5)(dense_layer_2)
output = Dense(Num_class, activation='softmax')(drop_layer2)

model = Model(inputs=input1, outputs=output)
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['acc'])
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['acc'])
model.summary()

In [ ]:
history = model.fit(X_train, y_train, batch_size=64, epochs=30, verbose=1, validation_split=0.2)

In [ ]:
score = model.evaluate(X_test, y_test, verbose=1)
print("Test Score:", score[0])
print("Test Accuracy:", score[1])